*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.container .left{
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 2;
}


/* more on left section */

.container .left .hi{
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .left .name {
    font-weight: bold;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 12px;
}

.container .left .text1{
    font-size: 55px;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.container .left .boxLeft h1 {
    font-size: 55px;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 94px;
}

.left .desc{
    color: #999;
    width: 80%;
}

.left .btn{
    color: white;
    background-color: orangered;
    padding: 8px 35px;
    width: fit-content;
    text-decoration: none;
    border-radius: 12px;
}
.right{
    flex:1;
}

.right .imageContainer{
    /* width: 100%;
    height: 100%; */
    height: 320px;
    width: 320px;
    background-color: white;
    border-radius: 50%;
    /* position: absolute; */
}

.right .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    
}

.right .icons img{
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;

}

.right .imageContainer img{
    width: 300px;
    height: 300px;
}

/* contact me styles */

.contact{
    /* background-color: teal; */
    height: 100vh;

}

.contact .title h1{
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.contact .title span{
    color: orangered;
    position: relative;

}

.contact .title span::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: orangered;
    position: absolute;
    bottom: -10px;
    left: 0;
   
}

.contact .contactMain{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.contact .contactMain .details{
    /* background-color: teal; */
    flex: 1;
    /* padding: 34px; */
}
.details  .title {
    color: white;
}

.details .infos{
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: red; */
    margin-top: 14px;
}
.details .infos .info{
    display: flex;
    align-items: center;
    gap: 23px;
}
.contact .contactMain .contactForm{
    /* background-color: black; */
    flex: 1;
}


